#button-flex {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

#forkme_banner {
  padding: 10px 50px 10px 10px;
  margin: 7px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#dl_banner {
  padding: 10px 50px 10px 10px;
  margin: 7px;
  color: #fff;
  background: url('../images/icon_download.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.rcorner {
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.fitimg {
  max-width: 100%;
  height: auto;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
}
